---
import { WHO_I_AM, SKILL_METRICS_SCHEMA } from '../constants';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';

const isSkillMetricsSchemaValid = (
	SKILL_METRICS_SCHEMA.type === 'heading'
	&& typeof SKILL_METRICS_SCHEMA.label.every(label => typeof label === 'string')
	&& SKILL_METRICS_SCHEMA.elements.every((elem) => elem.type === 'subheading')
	&& SKILL_METRICS_SCHEMA.elements.every((elem) => elem.label.every(label => typeof label === 'string'))
	&& SKILL_METRICS_SCHEMA.elements.every((elem) => elem.elements.every(subElem => subElem.label.every(label => typeof label === 'string')))
);

---

<style>
	section.section-invisible {
		display: none;
	}
</style>

<BaseLayout 
	title={`About | ${WHO_I_AM}`}
	description={`About ${WHO_I_AM}`}
>
	<div class:list={["stack", "gap-20"]}>
		<main class:list={["wrapper", "about"]}>
			<div class="about-welcome-message">
				<h5 class="about-welcome-message-heading">
					Thanks for stopping by.
				</h5>
				<div class="thanks-div">
					<img
						height="120"
						width="120"
						src="https://cdn.lihkg.com/stickers/cow-hd/sorry.png"
						alt={`${WHO_I_AM} expressing sincere gratitude to visitors`}
					/>
				</div>		
			</div>

			<section>
				<h2 class="section-title">I am ...</h2>
				<div class="content">
					<ul>
						<li class='who-am-i-description'>
							A Software Engineer with 3 years&#39; experience in enterprise-scaled web applications.
						</li>
						<li class='who-am-i-description'>
							A HKUST Degree Awardee in Bachelor of Computer Science with Second Class Honors. (<a href="./assets/HKUST-Award-Certification-Letter.pdf">Certification Letter</a>).
						</li>
						<li class='who-am-i-description'>
							An algorithm addict, in which I
							<ul>
								<li class='who-am-i-description'>
									completed 656 questions in <a href="https://leetcode.com/jimmy-leung/">my LeetCode account</a>.
								</li>
								<li class='who-am-i-description'>
									completed 665 kata in <a href="https://www.codewars.com/users/hkleungai">my CodeWars account</a>.
								</li>
							</ul>
						</li>						
						<li class='who-am-i-description'>
							An active contributor in open community project, in which I help
							<ul>
								<li class='who-am-i-description'>
									Introduce type fix in json-web-token (with <a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61825">Approved PR</a>)
								</li>
								<li class='who-am-i-description'>
									Raise a critical CSS build issue in mozilla's pdfjs-dist (with <a href="https://github.com/mozilla/pdf.js/issues/15260">issue link</a>)
								</li>
								<li class='who-am-i-description'>
									Introduce hacky fix to VSCode Markdown PDF extension (in <a href="https://github.com/yzane/vscode-markdown-pdf/issues/189#issuecomment-718054350">here</a>)
								</li>
								<li class='who-am-i-description'>
									Rework on several more npm packages, 
									e.g. 
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61836">jsoneditor</a>,
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56587">react-pdf</a>,
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51618">three-dat.gui</a>,
									<a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57788">json-merge-patch</a>, 
									etc
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>

			<section class={isSkillMetricsSchemaValid ? undefined : 'section-invisible'}>
				<h2 class="section-title">I am good at ...</h2>
				<div class="content">
					<table class="skills">
						<tbody>
							<tr>
								<th colspan="3">{SKILL_METRICS_SCHEMA.label.join(" ")}</th>
							</tr>
						
							{
								SKILL_METRICS_SCHEMA.elements.map(subsection => {
									const firstRow = (
							<tr>
								<td rowspan={subsection.elements[0].label.length} colspan="2">
									{subsection.label.join(" ")}
								</td>
								<td colspan={1}>
									{subsection.elements[0].label[0]}
								</td>	
							</tr>
									);
									const remainingRows = subsection.elements[0].label.slice(1).map(label => (
							<tr>
								<td colspan={2}>
									{label}
								</td>
							</tr>	
									));
									return (
										<>
											{firstRow}
											{remainingRows}
										</>
									)

								})
							}

					</tbody>
				</table>					
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-0);
	}

	.section-title {
		grid-column-start: 1;
		/* font-size: var(--text-xl); */
		color: var(--gray-0);
		font-size: 1.2rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	li.who-am-i-description:not(:last-child) {
		margin-bottom: 1rem;
	}

	li.who-am-i-description ul {
		margin-top: 1rem;
	}

	.thanks-div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.stack-nav {
		padding-top: 100px;
	}

	.about-welcome-message {
		display: flex; 
		gap: 1rem;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;		
	}

	.about-welcome-message .about-welcome-message-heading {
		max-width: 50ch; 
		margin-inline: auto; 
		line-height: 1.5;
		color: --var(--gray-999);
		font-weight: 900;
		font-family: cookie, cursive;
		text-align: center;
		/* mix-blend-mode: difference; */
		filter: drop-shadow(.05em .05em orange);
		font-size: 1.25rem;
	}

	div.content table.skills {
		border-collapse: collapse;
		width: 100%;
		/* background-color: #f6f3fb; */
		/* background-color: var(--accent-super-light); */
		background: var(--gradient-accent-light-orange);
	}
	div.content table td, table th {
		vertical-align: top;
		border: 1px solid var(--gray-50);
		text-align: left;
		padding: 8px;
	}
	div.content table th {
		/* background-color: #673ab7; */
		background-color: var(--accent-dark);
		color: var(--gray-999);
	}
	div.content table td {
		color: var(--gray-50) !important;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
